.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 15px;
    position: relative;
    animation: fadeInSlide .4s linear forwards;
    border-radius: 4px;
  
    .auth-logo {
      margin: 0 0 55px 0;
    }
  
    .auth-headline {
      font-size: 36px;
      letter-spacing: 1px;
      color: $dark-gray2;
      margin: 0 0 17px 0;
      position: relative;
      font-weight: 600;
      left: -1px;
    }
  
    .auth-description {
      color: $gray2;
      margin: 0 0 15px;
      position: relative;
      top: -10px;
    }
  
    .auth-form {
      button {
        margin: 35px auto 0 auto;
      }
    }
  
    .login-form-footer {
      display: block;
      margin: 20px 0 10px 0;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: $gray2;
      letter-spacing: 0.3px;
      font-weight: 300;
  
      .login-form-forgot-password {
        cursor: pointer;
        transition: all 0.2s;
  
        &:hover {
          color: $dark-gray2;
        }
      }
    }
  
    .submit-button {
      width: 100%;
    }
  
    .login-form-footer-text {
      color: $gray2;
      text-align: center;
      margin: 30px auto 0 auto;
      font-size: 11px;
      max-width: 300px;
      letter-spacing: 0.3px;
      line-height: 16px;
    }
  
    .transition-element {
      @extend .animation-slideBottom;
    }
  
    @for $i from 1 through 10 {
      .transition-element {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.03s;
        }
      }
    }
  
    .back-to-login-button {
      font-size: 13px;
      text-align: center;
      display: block;
      margin-top: 30px;
    }
  
    .auth-footer-link {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -80px;
      margin: 30px 0 0;
      font-size: 13px;
      color: $gray2;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: fadeInSlide .4s 1s $animation_easing forwards;
  
      .auth-footer-link-label {
        margin: 0 15px 0 0;
      }
    }
  }
  