.nav-link {
    display: block;
    text-decoration: none;
    padding: 5px 14px;
    font-size: 24px;
    font-weight: 600;
    // transition: all 0.2s;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;
    opacity: 0.5;

    .nav-link-right-label {
        .bp3-tag {
            position: relative;
            top: -1px;
        }
    }

    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: -4px;
    //     width: 2px;
    //     transition: all 0.2s;
    // }


}

.nav-link-active {
    .nav-link {
        opacity: 1;

        &:before {
            left: 0;
        }

        &:hover {
            // background: $black;
        }
    }

}

.nav-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;

    &.theme-light {

        .nav-link { 
            color: $black;

            &:before {
                background: $black; 
            }
        }
    }

    &.theme-dark {
        .nav-link { 
            color: $white;

            &:before {
                background: $white; 
            }
        }
    }

    .theme-switch {
        margin: 25px 0 0 14px;
    }
}