.nav-link {
    display: block;
    text-decoration: none;
    padding: 5px 14px;
    font-size: 24px;
    font-weight: 600;
    // transition: all 0.2s;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;

    .nav-link-right-label {
        .bp3-tag {
            position: relative;
            top: -1px;
        }
    }
}


.nav-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;

    &.theme-light {

        .nav-link { 
            color: $black;
        }

        .nav-link-active {
            .nav-link {
                color: $black;
            }
        }
    }

    &.theme-dark {
        .nav-link { 
            color: $white;
            opacity: 0.5;
        }


        .nav-link-active {
            .nav-link {
                opacity: 1;
            }
        }
    }

    .theme-switch {
        margin: 25px 0 0 14px;
       

        .bp3-switch.theme-light {
            color: $gray2;
        }

        .bp3-switch.theme-dark {
            color: $white;
        }
    }
}