// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/links";
@import "./imports/blueprint_overides";
@import "./imports/animations";

@import "./imports/buttons";
@import "./imports/switch";

// components
@import "../react/components/header/header.scss";
@import "../react/components/mobile_menu/mobile_menu.scss";
@import "../react/components/nav/mobile_nav.scss";
@import "../react/components/login_buttons/login_buttons.scss";

// form
@import "../react/components/form/BladeInput.scss";

// pages
@import "../react/pages/auth/index.scss";

html {
	// overflow: hidden;
	// overflow-y: scroll;
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background: $white;
	font-family: "A", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	color: $black;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	transition: opacity 1s;

	&.theme-light {
		opacity: 1;
	}

	&.theme-dark {
		opacity: 1;
		background: $black;
		color: $white;
	}

	&.no-scroll {
		overflow: hidden;
	}
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: yellow;
  color: $black;
}

::-moz-selection {
  background: yellow;
  color: $black;
}

// Links
// -------------------------

a {
	text-decoration: none !important;
	font-weight: 400;
}

.theme-light {

	a {
		color: $cobalt4;
	}

	a:hover {
		color: $cobalt5;

		@media only screen and (max-width: $mobile) {
            color: inherit !important;
        }

	}

	a:active {
		color: $cobalt3;

		@media only screen and (max-width: $mobile) {
            color: inherit !important;
        }
	}
}

.theme-dark {

	a {
		color: $yellow;
	}

	a:hover {
		color: $yellow;

		@media only screen and (max-width: $mobile) {
            color: inherit !important;
        }

	}

	a:active {
		color: $yellow;

		@media only screen and (max-width: $mobile) {
            color: inherit !important;
        }
	}
}



.app {
	display: block;
	position: relative;
}

.placeholder {
	display: block;
	position: relative;
	height: 3000px;
	width: 100%;
}

.logo {
	svg {
		width: 40px
	}
}