.bp3-button {
    transition: all 0.2s;

    .bp3-icon {
        svg {
            fill: $black
        }
    }

    &.theme-dark {
        .bp3-icon {
            svg {
                fill: $white
            }
        }
    }

    &:active, &:hover {
        @media only screen and (max-width: $mobile) {
            background: none !important;
        }
    }

    &:active {
        @media only screen and (max-width: $mobile) {
            transform: scale(0.8);
        }
    }
}