.gradient-1 {
    // background-image: linear-gradient(131deg, #FEFEFE 0%, #F2F6F8 62%, #EBF1F5 100%);
    // background-image: linear-gradient(0deg, #FEFEFE 19%, #EBF1F5 100%);
    background: $light-gray5;
}

.gradient-2 {
    background-image: linear-gradient(0deg, #FEFEFE 19%, #F5EBEB 100%);
}

.gradient-3 {
    background-image: linear-gradient(47deg, #FFFFC7 0%, #FFDBD2 100%, #FFDBD2 100%);
}

.gradient-4 {
    background-image: linear-gradient(160deg,#ffffff,#f8fbff,#f1f7ff,#eaf3ff,#e1ecff,#dfe0ff,#ebd0ff,#ffbdff);
}

.gradient-5 {
    background-image: linear-gradient(47deg, #C7FFE1 0%, #DFFFD2 100%, #FFDBD2 100%);
}

.gradient-6 {
    // background-image: linear-gradient(131deg, #FEFEFE 0%, #F2F6F8 62%, #EBF1F5 100%);
    background-image: linear-gradient(0deg, #FEFEFE 19%, #EBF1F5 100%);
}
