$padding: 30px;

// Responsiveness variables
$mobile: 950px;
$small: 1250px;
$regular: 1400px;
$large: 1700px;

//

$blackLightBorder: 1px solid rgba($black, 0.1);
$whiteLightBorder: 1px solid rgba($white, 0.1);
