.mobile-menu-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: scroll;

    &.theme-dark {
        background: $black;
    }

    &.theme-light {
        background: $white;
    }
}