.mobile-menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: scroll;
    flex-direction: column;

    &.theme-dark {
        background: $black;
    }

    &.theme-light {
        background: $white;
    }

    .nav-link-container {
        @extend .animation-slideBottom;
    }

    @for $i from 1 through 10 {
        .nav-link-container {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.1s;
          }
        }
    }

    .theme-switch {
        @extend .animation-slideBottom;
        animation-delay: 6 * 0.1s;
    }

    .menu-bottom {
        background: $white;
        flex-grow: 0;
        flex-shrink: 0;
        border-top: $blackLightBorder;
        padding: 20px 16px;

        &.theme-light {
            background: $white;
            border-top: $blackLightBorder;
        }

        &.theme-dark {
            background: $black;
            border-top: $whiteLightBorder;
        }
    }

    .nav-container  {
        flex-grow: 1;
        flex-shrink: 1;
    }

}