.regular-price-container {
    padding: 0 0 0 15px;
    display: flex;

    .regular-price {
        margin: 0 10px 0 0;
        font-size: 36px;
        letter-spacing: 0.94px;
        line-height: 36px;
    }

    .regular-price-change-block {
        font-size: 12px;
        position: relative;
        top: 2px;

        .positive {
            color: $green4
        }

        .negative {
            color: $red4
        }
    }
}

.afterhours-price-container {
    padding: 10px 0 0 15px;
    font-size: 11px;

    .afterhours-price-label {
        color: $gray2;
        margin: 0 3px 0 0;
    }

    .afterhours-value {
        margin: 0 2px 0 0;
    }
}

.price-container {
    min-height: 36px;
    margin-bottom: 20px;
}