.app-header{
    z-index: 100;
    width: 100%;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
    margin: 0px;
    padding: 0px;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    position: sticky;

    &.main-header {

        &.theme-light {
            border-bottom: $blackLightBorder;
            background: $white
        }
    
        &.theme-dark {
            border-bottom: $whiteLightBorder;
            background: $black
        }
    }
    &.theme-light {
        background: $white
    }

    &.theme-dark {
        background: $black
    }
    
    .app-header-container {
        margin: 0px;
        padding: 0px 16px;
        border-width: 0px;
        display: flex;
        flex-basis: auto;
        flex-shrink: 0;
        min-height: 0px;
        min-width: 0px;
        max-width: 100%;
        z-index: 0;
        flex-direction: row;
        align-items: center;
        height: 60px;
        justify-content: space-between;

        @media only screen and (max-width: $mobile) {
            padding: 0px 16px 0 13px;
        }

        .app-actions {
            display: flex;

            li {
                margin: 0 0 0 10px;
                display: none;

                &.action-menu {
                    @media only screen and (max-width: $mobile) {
                       display: block
                   }
                }

                &.action-search {
                     @media only screen and (max-width: $small) {
                        display: block
                    }
                }
            }
        }
    }
}