.list-results {
    .editor {
        // border-bottom: 10px solid $light-gray5;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 7px solid $light-gray5;

        .DraftEditor-root {
            padding: 0 15px 0px 15px;
        }
    }

}


.wall-post-avatar {
    display: flex;
    // margin-bottom: 12px;
    position: relative;
    padding: 15px 15px 10px 15px;

    .post-avatar-details {
        margin: 2px 0 0 10px;

        .avatar-container {
            margin: 0 5px 0 0;
        }
    
        .wall-post-avatar-username {
            font-size: 13px;
            font-weight: 600;
            position: relative;
            top: 1px;
            letter-spacing: 0.34px;
        }

        .post-avatar-divider {
            font-size: 4px;
            color: $gray4;   
            margin: 0 7px;
            position: relative;
            top: -2px
        }
    
        .post-avatar-subtitle {
            display: flex;
            font-size: 12px;
            line-height: 12px;
            position: relative;
            top: -1px;
            color: $gray3;
        }

        .post-avatar-time {
            font-weight: 400;
            color: $gray3;
        }
    }

    .post-actions {
        position: absolute;
        top: 13px;
        right: 15px;
        opacity: 0.5;
    }
   
}