.search-ticker-display {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    position: relative;

    .ticker-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        overflow: hidden;

        img {
            max-width: 100%;
            border-radius: 50px;
            min-height: 100%;
        }

        &.empty {
            background: $gray5;
            display: flex;
            justify-content: center;
            align-items: center;
            

            svg {
                position: relative;
                top: 0px;
                color: $white;
                width: 16px;
                height: 16px;
            }
        }
    }

    .ticker-display-info {
        position: relative;
        top: -2px;
        width: 100%;
        
        .ticker-symbol {
            font-weight: 600;
            font-size: 17px;
            margin: 4px 0 0 0;
            position: relative;
            left: 0px;
        }

        .ticker-name {
            font-size: 12px;
            color: $gray2;
            letter-spacing: 0.31px;
            max-width: 70%;
        }
    }

    .ticker-number-of-videos {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 3px 10px 5px 10px;
        border-radius: 30px;
        background: $gray4;
        color: $white;
        font-size: 12px;
        font-weight: 500;
    }
}