.search-user-display {
    display: flex;
    // margin: 5px 0 10px 0;
    margin-bottom: 15px;
    position: relative;

    // .user-display-username {
    //     margin: 10px 0 0 10px;
    //     font-size: 16px;
    //     font-weight: 400;
    // }

    .user-display-username {
        margin: 10px 0 0 10px;
        font-weight: 600;
        font-size: 17px;
        position: relative;
        left: 0px;
    }

    svg {
        position: absolute;
        right: 5px;
        top: 10px;
        color: $gray3;
    }
}